html {
    padding: 0;
    margin: 0;
}

body{
  background-image: url(rohini1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1{
  font-weight: bolder;
  font-size: 3rem;
  color: black;
  z-index: 999;
}



.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #008b0c!important;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    color: purple !important;
    font-size: 120%;
}



.hero-content{
  text-align: center;
padding: 10%;
}


.btn{
  font-weight: bold !important;
}



#footer{
  padding: 3% 7%;
  text-align: center;
  font-size: 3rem;
}
 #footer a{
   padding: 3%;
   background-color: rgba(255,255,255,0.3);
   color: #474b4f;
 }
#footer a:hover{
  color: black;
}
